#hero-container {
  background: url(./assets/Assets/OrangeBar.jpg);
  padding: 4rem; }
  #hero-container .navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center; }
    #hero-container .navbar .nav-left img {
      height: 5.5rem; }
    #hero-container .navbar .nav-right .nav-items {
      display: flex;
      flex-direction: row; }
      #hero-container .navbar .nav-right .nav-items .nav-item {
        margin: 15px;
        list-style: none; }
  #hero-container .text-container {
    position: relative;
    margin: 9rem;
    width: 50%; }

#product-container {
  background: black;
  width: 100%;
  height: 100vh; }
  #product-container .carousel {
    position: relative;
    top: 30%; }

.product-image {
  padding-right: 5%;
  padding-left: 5%;
  padding-top: 5%;
  width: 60%;
  float: right; }

.product-text {
  width: 40%;
  float: left; }

* {
  box-sizing: border-box; }

html,
body {
  margin: 0; }

h1,
h2,
h3 {
  margin: 0;
  font-weight: 100;
  color: white;
  letter-spacing: 3px; }
  h1 .bold-font,
  h2 .bold-font,
  h3 .bold-font {
    font-weight: 700; }

h1 {
  font-size: 4rem; }

a {
  color: white;
  text-decoration: none; }
