#hero-container {
  background: url(./assets/Assets/OrangeBar.jpg);
  padding: 4rem; }
  #hero-container h1,
  #hero-container h2,
  #hero-container h3 {
    color: white;
    font-weight: 100;
    letter-spacing: 3px; }
  #hero-container .navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center; }
    #hero-container .navbar .nav-left img {
      height: 5.5rem; }
    #hero-container .navbar .nav-right .nav-items {
      display: flex;
      flex-direction: row; }
      #hero-container .navbar .nav-right .nav-items .nav-item {
        margin: 15px;
        list-style: none; }
  #hero-container .text-container {
    position: relative;
    margin: 9rem;
    width: 50%; }

#product-container {
  background: whitesmoke;
  padding: 1rem;
  width: 100%;
  height: 100vh;
  position: relative; }
  #product-container .left-arrow {
    position: absolute;
    top: 50%;
    left: 25px;
    z-index: 999;
    color: #fff; }
  #product-container .right-arrow {
    position: absolute;
    top: 50%;
    right: 25px;
    z-index: 999;
    color: #fff; }
  #product-container .productDisplay-container {
    height: 100%;
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap; }
    #product-container .productDisplay-container .item {
      padding: 2%;
      width: 500px; }
      #product-container .productDisplay-container .item .image-container {
        padding-left: 17%; }
        #product-container .productDisplay-container .item .image-container img {
          width: 80%;
          /* or any custom size */
          height: 80%;
          object-fit: contain; }

.makeOrange {
  color: #ff7300; }

.capitalize {
  text-transform: uppercase; }

h1,
h2,
h3 {
  color: #242222; }

h2 {
  font-size: 1.2rem; }

* {
  box-sizing: border-box; }

body {
  margin: 0;
  line-height: 1.7; }

h1,
h2,
h3 {
  margin: 0; }
  h1 .bold-font,
  h2 .bold-font,
  h3 .bold-font {
    font-weight: 700; }

h1 {
  font-size: 4rem; }

a {
  color: white;
  text-decoration: none; }
